	body{
                font-family: 'Shadows Into Light Two';
        }
        #cont{
	      content: a;
              margin: 0px auto;
              font-size: 50px;
              top:10px;
              width: 100px;
        }
	#cont #sub{
		top: 65px;
		font-size: 20px;
		margin: auto auto;
		position: absolute;
	}
        #contact{
                font-size:20px;
                margin: auto 0 0 auto;
                padding: 10px 10px;
                width: 300px;

        }

        input.text, textarea.text {
                border:solid 1px #444;
                border-radius: 15px;
                box-shadow: 0px 1px 0px #777;
                font-family: 'Shadows Into Light Two';
                font-size: 16px;
                font-weight: bold;
                padding: 7px 8px 7px 8px;
                width: 99%;
                -moz-border-radius: 15px;
                -moz-box-shadow: 0px 1px 0px #777;
                -webkit-border-radius: 15px;
                -webkit-box-shadow: 0px 1px 0px #777;
        }

        input#enviar{
                background: #fff;
                border:solid 1px #000;
                border-radius: 15px;
                box-shadow: 0px 1px 0px #777;
                cursor: pointer;
                font-family: 'Shadows Into Light Two';
                font-size: 16px;
                font-weight: bold;
                float: right;
                padding: 7px 8px 7px 8px;
                width: 30%;
                transition: all 4s linear;
                -webkit-transition: all 1s linear;
                -moz-border-radius: 15px;
                -moz-box-shadow: 0px 1px 0px #777;
                -webkit-border-radius: 15px;
                -webkit-box-shadow: 0px 1px 0px #777;
        }
        input#enviar:hover{
                transform: scale(1.2,1.2) rotate(15deg);
                -webkit-transform: scale(1.2,1.2) rotate(15deg);
		               

        }

